.container0 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
}
.Formcontainer {
  width: 300px;
  min-height: 40vh;
  max-height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-radius: 30px;
  gap: 60px;
}
.Formcontainer1 {
  width: 300px;
  height: 20vh;
  /* max-height: fit-content; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-radius: 15px;
  gap: 60px;
}
.container {
  margin-top: 20px;
  width: 260px;
  min-height: 260px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.formheader {
  width: 100%;
  height: 80px;
  /* background-color: cadetblue; */
}
.Mainimage {
  width: 38px;
  height: 38px;
}
.formtitle {
  font-size: 16px;
  font-weight: 600;
  color: #121316;
}
.formtitle1 {
  font-size: 11px;
  color: #8e8e8e;
}
.formcont {
  width: 100%;
  min-height: 27vh;
  max-height: fit-content;
  /* background-color: rgb(127, 133, 255); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.formcont4 {
  width: 100%;
  min-height: 10vh;
  max-height: fit-content;
  /* background-color: rgb(127, 133, 255); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.formcont4-1 {
  width: 100%;
  min-height: 18vh;
  /* background-color: rgb(127, 133, 255); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.textfield1 {
  /* background-color: crimson; */
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
  color: black;
}
.label {
  display: flex;
  font-size: 9px;
  font-weight: 500;
  font-style: initial;
  margin-left: 3px;
  gap: 2px;
  color: black;
}
.sign {
  color: red;
}
.inputcont {
  width: 100%;
  height: 25px;
  background-color: #f5f5f7;
  border-radius: 6px;
  font-size: 9px;
  padding: 10px;
  color: black;
  border: 1px solid black;
  outline-color: #0ca5e9;
}
.inputcontError {
  width: 100%;
  height: 25px;
  background-color: #f5f5f7;
  border-radius: 6px;
  font-size: 9px;
  padding: 10px;
  border: 1px solid red;
  outline-color: red;
  color: red;
}
.buttoncontainer {
  width: 250px;
  height: 70px;

  display: flex;
  align-items: center;
}
.buttoncontainer23 {
  width: 250px;
  height: 70px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.footer {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  display: flex;
  border-radius: 10px;
  background-color: #121316;
  color: white;
  font-size: 12px;
  gap: 5px;
}

.footerBack {
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  display: flex;
  border-radius: 10px;
  color: black;
  font-size: 12px;
  gap: 5px;
  border: 1px solid black;
}
.footerContinue {
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 30px;
  display: flex;
  border-radius: 10px;
  background-color: #121316;
  color: white;
  font-size: 12px;
  gap: 5px;
}
.inputfile {
  background-color: #f5f5f7;
  width: 100%;
  height: 150px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}
input[type="file"] {
  display: none;
}
.customFile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
